<configuration>
    <property>
        <name>yarn.resourcemanager.hostname</name>
        <value>192.168.1.171</value>
    </property>
    <property>  
        <name>yarn.resourcemanager.resource-tracker.address</name>  
        <value>192.168.1.171:8025</value>  
    </property>  
    <property>  
        <name>yarn.resourcemanager.scheduler.address</name>  
        <value>192.168.1.171:8030</value>  
    </property>  
    <property>
        <name>yarn.nodemanager.aux-services</name>
        <value>mapreduce_shuffle</value>
    </property>
    <property>
        <name>yarn.timeline-service.enabled</name>
        <value>true</value>
    </property>
    <property>
        <name>yarn.webapp.ui2.enable</name>
        <value>true</value>
    </property>
</configuration>