<configuration>
    <property>
        <name>yarn.resourcemanager.hostname</name>
        <value>team-42-nn</value>
    </property>
    <property>
        <name>yarn.nodemanager.aux-services</name>
        <value>mapreduce_shuffle</value>
    </property>
    <property>
        <name>yarn.nodemanager.aux-services.mapreduce.shuffle.class</name>
        <value>org.apache.hadoop.mapred.ShuffleHandler</value>
    </property>
    <property>
        <name>yarn.log.server.url</name>
        <value>http://team-42-nn:19888/jobhistory/logs</value>
    </property>
</configuration>